[submodule "ccls"]
  path = ccls
  url = https://github.com/MaskRay/ccls
  branch = master
[submodule "mosh"]
	path = mosh
	url = https://github.com/mobile-shell/mosh.git
  branch = master
[submodule "git"]
	path = git
	url = https://github.com/git/git
  branch = master
[submodule "st"]
	path = st
	url = https://git.suckless.org/st/
  branch = master
[submodule "markpress"]
	path = markpress
	url = https://github.com/skywind3000/markpress.git
	branch = master
