[submodule "neovim"]
  path = neovim
  url = https://github.com/neovim/neovim.git
[submodule "ccls"]
  path = ccls
  url = https://github.com/MaskRay/ccls
[submodule "mosh"]
	path = mosh
	url = https://github.com/mobile-shell/mosh.git
[submodule "youdao-note-electron"]
	path = youdao-note-electron
	url = https://github.com/jamasBian/youdao-note-electron.git
[submodule "SSRSpeed"]
	path = SSRSpeed
	url = https://github.com/NyanChanMeow/SSRSpeed.git
[submodule "gnvim"]
	path = gnvim
	url = https://github.com/vhakulinen/gnvim
