[submodule "neovim"]
  path = neovim
  url = https://github.com/neovim/neovim.git
[submodule "ccls"]
  path = ccls
  url = https://github.com/MaskRay/ccls
[submodule "mosh"]
	path = mosh
	url = https://github.com/mobile-shell/mosh.git
